footer {
  padding: 3rem 1rem 1.5rem;
  background-color: $dark-blue;

  a,
  a.button,
  li {
    color: $white;
  }

  li.divider {
    padding-top: .35rem;
  }

  h1 {
    color: $white;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .logo {
    @include breakpoint(medium) {
      justify-content: left;
      h1 {
        text-align: left;
      }
    }
  }

  .footer-main-menu {
    margin-bottom: 2rem;

    a {
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: .4rem;

      @include breakpoint(large) {
        font-size: 1.5rem;
      }
    }
  }
  
  .footer-sub-menu {
    .social {
      @include breakpoint(medium) {
        justify-content: left;
      }
    }
    .legal {
      @include breakpoint(medium) {
        justify-content: right;
      }
    }
  }

  .social {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .button.clear {
    color: $white;
    font-weight: 300;
  }
}