section {
  h3 {
    font-size: 1.5rem;
    @include breakpoint(medium) {
      font-size: 2.2rem;
    }
    @include breakpoint(large) {
      font-size: 2.7rem;
    }
  }

  h4 {
    font-size: 1.2rem;
  }
  
  p {
    font-size: .9rem;
    font-weight: 300;
    margin-bottom: 0;
  }
  
  .button.clear {
    font-weight: 400;
  }

  .card {
    border: none;
  }

  .card-section {
    text-align: center;
  }

  &.intro {
    padding: 3rem 1rem;
    
    .grid-x {
      margin-bottom: 1rem;
    }

    h4 {
      text-align: left;
    }
  }

  &.benefits {
    padding: 3rem 1rem;
    background-color: $light-blue;

    h3 {
      margin-bottom: 1.5rem;
    }

    .card {
      margin-bottom: 2.8rem;
      padding: 2rem;
    }
  }

}